<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>


</head>
<body>
    <h1>Contactanos</h1>
        <form action="/contacto/" method="POST">{% csrf_token %}
            <p>Asunto:<input type="text" name="Asunto"></p>
            <p>Email:<input type="text" name="Email"></p>
            <p>Mensaje:<textarea type="text" name="Mensaje" rows="20" cols="45"></textarea>></p>
            <input type="submit" value="buscar">
        </form>
</body>
</html>