<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda</title>
</head>
<body>
    <p> Busqueda de :<strong>{{query}}</strong></p>
    {% if articulos %}
        <p>articulos Encontrados
            {{articulos|length}} articulos
        </p>
        <ul>
            
            {% for articulo in articulos %}
            <li>
                {{articulo.nombre}} &nbsp; {{articulo.seccion}} &nbsp; {{articulo.precio}}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Articulo no Encontrado</p>
    {% endif %}
</body>
</html>